html, body {
    padding:0;
    margin:0;
    font-family:arial;
    height:100%;
		background:#fff;
		overflow-x:hidden;
}

a {
    color:#666666;
}

* {
    border:0;
}

.inline {
	padding-bottom:6px;
  border-bottom:4px solid #379ad3;
  display:block !important;
}

#header {
	height:140px;

}

#header-inside {
	width:100%;
}

#control {
	float:right;
	width:20%;

}

header h1, header h2, header h3 {
	padding:0;
	margin:0 0 8px;
	font-size:120%;
}

#right-col {
	margin: 0 2% 2% 27%;
}

#content {
	padding: 0 15px 0 15px;
  background:#F7F7F7;
	border-left:1px solid #E3E3E3;
	border-bottom:1px solid #E3E3E3;
	min-height:100px;
}

/* Табы */

#tabs {

}

#tabs ul {
	padding:0;
	margin:0;
}


#tabs ul li {
	display:inline-block;
}

#tabs ul li#last {
    margin-right:0px;
}

#tabs ul li a {
    display:block;
    padding: 10px;
    color:#AE0D0D;
    text-align:center;
    background:#F7F7F7;
    text-decoration:none;
    text-transform:UpperCase;
    font-size:90%;
    border:1px solid #E3E3E3;
    border-bottom:0;
    border-radius:5px 5px 0 0;
}

#tabs ul li a:hover {
		color:#136398 !important;
    border-top:3px solid #44C7F5 !important;
    border-bottom:0;
}

#ui-tabs-hide {
    display:none;
}

.ui-tabs-active a {
    color:red !important;
    border-top:3px solid red !important;
    border-bottom:0;
		font-weight:bold;
}

/* --- */

/* Форма */

.form_row {
	margin:0 0 15px;
	padding:0 20px 0 0px;
}

.label {
	margin:0 0 6px;
}

input[type="submit"], input[type="button"] {
    background:url("/admin/engine/images/button/button_blue.jpg") left top;
    padding:6px;
    color:#ffffff;
    font-size:70%;
    cursor:pointer;
    margin-bottom:5px;
    text-transform:UpperCase;
    border:1px solid #305a8c;
    border-radius:4px;
    box-shadow:0 2px 3px 0 #d0d0d0;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background:url("/admin/engine/images/button/button_blue.jpg") left -33px;
}

input[type="submit"]:active, input[type="button"]:active {
    background:url("/admin/engine/images/button/button_blue.jpg") left -68px;
    border-bottom:0;
    box-shadow:0 1px 1px 0 #7695ba;
}

input[type="text"], input[type="email"], textarea {
	padding:8px;
	width:100%;
}

select {
	padding:2px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
    margin-right: 20px;
}

input[type=radio] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom:1px;

    background-color: #aaa;
    background:#379AD3;

}

.radio label:before {
    border-radius: 8px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    font-size: 150%;
    text-align: center;
    vertical-align:middle;
    line-height: 16px;
		font-weight: bold;
}

input[type=checkbox] {
    display: none;
}

.checkbox label:before {
    border-radius: 3px;
}

input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 100%;
    color:#fff;
    text-align: center;
    line-height: 15px;
}

/* ------ */


/* Авторизация */

#authorize #control {
	background:url("/admin/engine/images/page/users48.png") no-repeat left top;
	padding-left:60px;
}

#login_admin {
    padding:15px;
    border:1px solid #fff;
    background:#f2f2f2;
    position:absolute;
    box-shadow:0px 1px 4px 0 #000000;
		position:absolute;
}

#login_admin_window {
    overflow:hidden;
}

#login_admin form {
    margin:0 0 0;
}

#login_admin #login_admin_header {
    margin:0 0 20px;
    border-bottom:1px solid silver;
}

#login_admin #login_admin_header h1 {
    display:inline-block;
}

#login_admin form input[type="text"], #login_admin form input[type="password"] {
    padding:10px 27px;
    font-size:16px;
    color:#666666 !important;
    background:#f0eef0 url("/admin/engine/images/form/user.png") no-repeat 10px 14px;
    border:1px solid #dfdfdf;
    width:299px;
}

#login_admin #login_admin_content input[type="password"] {
     background:#f0eef0 url("/admin/engine/images/form/password.png") no-repeat 10px 12px !important;
}

#login_admin #login_admin_content input[type="submit"] {
    width:340px;
    margin:0 7px;
}

/* Левая колонка */

#navigation {
   background:#f7f7f7;
	 float:left;
	 width:25%;
}

#navigation ul {
    padding:0;
    margin:0;
}

#navigation ul li {
    display:block;
}

#navigation ul li a {
    padding:30px 20px;
    display:block;
}

#navigation ul li a.active, #navigation ul li a:hover {
    background:#ffffff;
    border-left:12px solid #379AD3;
}

/* Системные сообщения */

#system_message_error {
	position:absolute;
	z-index: 100;
	background:rgba(36,190,232, 0.8);
	padding:10px;
	width:50%;
	left:25%;
	color:#fff;
	border:1px solid #F8E905;
	border-top:0;

}

#system_message_error #close {
	float:right;
	width:16px;
	height:16px;
}

#shadow {
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:none;
    width:100%;
    height:100%;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
    -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
    background:#000000;
}