ul li.placeholder {
    background-color:rgba(55,154,211, 0.1);
    padding:12px;
    display:block;
}

ul#no-list-style {
    padding:0;
}

ul#no-list-style li {
    list-style:none;
    margin-bottom:10px;
}

ul#no-list-style li a {
    color:#55483F;
    text-decoration:none;
}

/*ul {
    margin:0;
    paddi#users-list ul ling:0;
    list-style:none;
}*/

ul li {
    padding:0;
    margin-bottom:8px;
}

#list ul:first-child {
    margin:0;
    padding:0;
}

#list ul li {
    list-style:none;
    margin:10px 0 5px;
}

#list ul li a {
    text-decoration:none;
   
}

#list ul li a:hover {
     color:#333333;
}



#welcome {
    float: right;
    font-size: 75%;
    margin-top: 20px;
    width: 12%;
}

.section {
    margin:0 0 10px;
}

#action {
    border-bottom:4px solid #1B73A7;
    margin-bottom: 8px;
}

.add-item {
    background:url("/admin/engine/images/button/add.png") no-repeat left top;
    padding:7px 40px;
    display:inline-block;
    margin:0 0 15px;
    color:#666666;
    text-decoration:none;
    text-transform:UpperCase; 
}

.add-item:hover {
    background:url("/admin/engine/images/button/add.png") no-repeat left -35px; 
    color:#333333;
}

.add-item:active {
    background:url("/admin/engine/images/button/add.png") no-repeat left -71px; 
}


.tabs {
    font-size:90%;
    font-family:georgia;
}

.tabs ul {
    margin:0;
    padding:0;
}

.tabs ul li {
    display:inline-block;
}

.tabs ul li#last {
    margin-right:0px;
}

.tabs ul li a {
    display:block;
    padding: 10px;
    color:#AE0D0D;
    text-align:center;
    background:#F7F7F7;
    text-decoration:none;
    text-transform:UpperCase;
    font-size:90%;
    border:1px solid #E3E3E3;
    border-bottom:0;
    border-radius:5px 5px 0 0;
}

.ui-tabs-hide {
    display:none;
}

.ui-tabs-active a {
    color:#136398 !important;
    border-top:3px solid #44C7F5 !important;
    border-bottom:0;
}

div#property {
    width:400px;
    background:#fff;
    position:absolute;
    z-index:300px;
    min-height:130px;
    border-radius: 4px 4px 0 0;
    
}

#left-col {
    width:22%;
    min-height:100%;
    float:left;
    margin-right:20px;
}

.leftcol {
    float:left;
    width:auto;
    margin-right:20px;
    margin-bottom:15px;
}

.disable:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    content: "";
    z-index: 120;
}

.job_content input[type="text"] {
    border:1px solid #362935;
    color:black !important;
}


.tooltip {
    display: none;
    position: absolute;
    background:#fff;
    width:240px;
    min-height:40px;
    z-index:200;
    border-radius:4px;
    box-shadow: 0 3px 0 0 #C7C8CC;
}

.tooltip div.title {
    width:100px;
    float:left;

}

.tooltip .cap {
    overflow:hidden;
    background-color:#362935;
    color:#ffffff;
    padding:10px;
    height:25px;
    border-radius: 4px 4px 0 0;
}

.tooltip div.cap h1 {
    color:#fff;
}

.tooltip div.close {
    float:right;
    width:20px;
    margin-right:5px;
    background:none !important;
}

.tooltip div.job_content {
    color:black !important;
    overflow:hidden;
    margin-top:10px;
    padding-left:10px;
}

.tooltip div.job_content ul {
    padding:0;
    margin:0;
}

.tooltip div.job_content ul  li {
    display:block;
    margin:0 0 8px;
}

.tooltip div.job_content ul li a {
    color:#666666;
    text-decoration:none;
}

.tooltip #edit {
    padding:2px 25px;
    background:url("/admin/engine/images/edit_adv.png") no-repeat left 2px;
}

.tooltip .delete {
    padding:1px 25px;
    background:url("/admin/engine/images/del_adv.png") no-repeat left 2px;
}

.tooltip a#property {
    padding:3px 25px;
    background:url("/admin/engine/images/advance.png") no-repeat left 2px;
}

.tooltip #views {
    padding:1px 25px;
    background:url("/admin/engine/images/views_page.png") no-repeat left 2px;
}

.rowAddTags {
    width:100%;
    float:left;
    margin:0 0 10px;
}

.img-box {
    display:inline-block;
    width:230px;
    position:relative;
    top:0;
    left:0;
    z-index:100;
    margin-bottom:10px;
    margin-right:20px;
}

.img-box .imgRemove {
    position:absolute;
    z-index:200;
    float:right;
    background:url("/admin/template/images/ico/remove.png") no-repeat;
    width:32px;
    height:32px;
    right:0;
    top:5px;
}

a#addImg {
    width:230px;
    height:120px;
    background:#AE0D0D url("/admin/engine/images/addImage.png") no-repeat center center;
    display:block;
    margin-bottom:10px;
}

#search-block {
    overflow:hidden;
    margin:0 0 10px;
}

#searchForm {
    width:300px;
    float:left;

}

#setParametrs {
    display:none;

}


.rowAddTags img{
    vertical-align:middle;
}

.add_tag img {
    vertical-align:middle;
}

.separate {
    float:left;
    width:210px;
    margin-right:3%;
}

.separate.last {
    margin:0;
}

div#message {
    padding:5px 20px;
    background:lightyellow;
    color:#000000;
    overflow:hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

div#message  #close {
    float:right;
    width:23px;
    margin-right:60px;
}

div#message #text {
    float:left;
    width:90%;
}

.lastnews-box {
    float:left;
    margin:0 0 20px;
}

.lastnews-box .caption {
    margin: 0 0 10px;
    overflow:hidden;
}

.lastnews-box .caption .title {
    color:#bcde4b;
    font-size:130%;
    width:570px;
    float:left;
}

.lastnews-box .caption .author {
    color:#cccccc;
    font-size:130%;
    width:180px;
    float:right;
    text-align:right;
}

.lastnews-box  .context {
    margin:0 0 10px;

}

.lastnews-box .lastnews-footer .date {
    color:#cccccc;
    font-size:18px;
    float:left;
    width:280px;
}


.lastnews-box  .lastnews-footer .raiting {
    font-size:18px;
    float:left;
    width:200px;
}

.lastnews-box  .lastnews-footer .raiting span {
    color:#b7d452 !important;
}

/* Системные сообщения */

div.error {
    background: url("../../engine/reporting/error.png") no-repeat 10px 10px, url("../images/ico/admin/moduleActive.png") repeat;
    margin:10px 0 10px;
    overflow:hidden;
}

div.alert {
    background: url("../../engine/reporting/error.png") no-repeat 10px 10px, url("../images/ico/admin/moduleActive.png") repeat;
    margin:10px 0 10px;
    overflow:hidden;

}

.reporting {
    color:#000000;
    padding:10px 90px;
    min-height:70px;
}

.reporting h1, .reporting h2, .reporting h3 {
    display:block !important;
}

.reporting li {
    list-style-position: inside;
}

#system_message {
    position:fixed;
    z-index:99999;
    overflow:hidden;
    width:100%;
    background:lightyellow;
    padding:8px 0 8px 8px;
}

#system_message span.message {
    color:#000000;
    background:url('/engine/images/system/icon/message/critical_error.png') no-repeat left 3px; 
    padding:5px 25px;
    float:left;
}

#system_message span.close {
    content:"X";
    font-size:100%;
    position:absolute;
    right:25px;
    top:15px;
    cursor:pointer;
}

#shadow {
    position:fixed;
    top:0;
    left:0;
    z-index:100;
    display:none;
    width:100%;
    height:100%;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
    -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9+ */
    background:#000000;
}

.loadimage {
    padding:10px;
    border:1px solid silver;
    width:400px;
}

.loadimage > div {
    margin:0 0 5px;
}

.loadimage > div img {
    border:2px solid #E3E3E3;
}

#pages {

}

.users-section {
    
}

.users-section ul {
    padding:0;
    margin:0;
    list-style:none;
}

a.options {
    background:url("/admin/engine/images/property.png") no-repeat left center;
    padding-left: 20px;
}

#content #pages a.options {
    padding-left:30px;
    color:#55483F;
    text-decoration:none;
}

a.options.hide {
    color:silver !important;
}

#pages a.options.news {
    bacground:url("");
}

table {
    border-spacing:0;
    width:100%;
    margin-bottom:10px;
}

table tr:first-child {
    background:#A31010;
}


table tr td {
    padding:12px 0;
}

table tr th {
    text-align:left;
    color:#fff;
    padding:12px;   
    vertical-align:bottom;
}

table tr th.center {
    text-align:center;
}

table tr td.center {
    text-align:center;
}

table tr td.right {
    text-align:right;
}

.nav {
    clear: both;
}

#echo {
    margin:0 0 5px;
}

#echo ul {
    background:papayawhip;
    padding:5px 0 1px;
}

#echo ul li {
    list-style:disc;
    margin-left:15px;
}

/* Страница галерея */

#collection {
    width:30%;
    float:left;
}

.control {
    margin:10px 0 10px;
}

#collection h2, #images h2 {
    margin:0;
    padding:0;
}

#images {
    margin-left:32%;
}

#ShowColl ul {
    padding:0;
    margin:10px 0 0;
}

#ShowColl ul li {
    list-style:none;
    padding:8px;
    position: relative;
    z-index: 50;
}

#ShowColl ul li.change {
    background:lightyellow;
}

#ShowColl ul li.change a {
    text-decoration:underline;
    color:#000000;
}

#ShowColl ul li a {
    display:inline-block;
    text-decoration:none;
    padding:0 2px 0;
}

#ShowColl ul li a img {
    vertical-align: middle;
}

a#create_collection {
    background:url("/admin/template/images/gallery/add_dir.png") no-repeat center left;
    padding-left:20px;
}

div.add {
    float: right;
    margin: 0 5px;
    width: 16px;
    display:none;
}

div.close {
    float:right;
    width:16px;
    margin:0px 5px 0;
}

div.close a {
    background:none !important;
    text-decoration:none;

}

div#empty {
    margin-top:10px;
    padding:8px;
    background:lightyellow;
}

a#AddImages {
    background:red url("/admin/template/images/gallery/addimage.png") no-repeat center center;
    display: block;
    padding: 50px;
    width: 150px;
    box-shadow: 0 0 4px 1px #FFFFFF inset;
}

a#views {
    background:url("/admin/template/images/gallery/views.png") no-repeat left center;
    padding-left:20px;
}

#images #objects {
    margin:10px 0 10px;
    overflow: hidden;
}

#objects ul {
    padding:0;
}

#objects .nav {
    float:none;
    width:auto;
}

#objects ul li {
    display:block;
    margin:0 5px 10px 0;
    position:relative;
    border-bottom:2px solid #fff;
    padding:5px;
}

#objects ul li:hover {
    background:lightyellow;
    cursor:pointer;
}

#objects ul li a {
    text-decoration:none;
}

#objects ul li a img {
    vertical-align:middle;
}

#objects ul li a img {
    border:2px solid #fff;
}

div#add {
    margin:10px auto 0;

}

div.imgBox {
    overflow:hidden;
    margin-bottom:10px;
    width:100%;
}

div.param {
    float:left;
    width:200px;
    margin-left:10px;
}

div.img {
    width:auto;
    float:left;
}

.param .row {
    margin:0 0 10px;
}

.param .row input[type="text"] {
    padding:8px;
    border:1px solid red;
    width:180px;
}

.progress {
    position:relative;
    width:400px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
}

.bar {
    background-color: #B4F5B4;
    width:0%;
    height:20px;
    border-radius: 3px;
}

.percent {
    position:absolute;
    display:inline-block;
    top:3px;
    left:48%;
}

.addons ul li {
    display:block;
}

#setParametrs {
    position:absolute;
    right:20px;
}

/* Модальное окно */

#modal_window {
    position:absolute;
    display:none;
    z-index:9999;
    background:#fff;
    border:2px solid #EBEBEB;
}

#top-section {
    padding:8px;
    background:#362935;
    overflow:hidden;

}

#modal_window #title {
    width:auto;
    float:left;
}

#modal_window #title h1 {
    display:inline-block;
    color:#fff;
    font-size:120%;
    padding:0;
    margin:0;
}

#modal_window #modal_window_content {
    min-height:60px;
    overflow:hidden;
}

#modal_window #close {
    width:24px;
    float:right;
}

#page_create ul {
    padding:0;
    margin:15px;
}

#page_create ul li {
    display:block;
    list-style:none;
    margin-bottom:20px;
}

#page_create ul li a {
    text-decoration:none;
    color:#362935;
}

#page_create #leftcol {
    width:auto;
    margin-right:10px;
    float:left;
}

#page_create #rightcol {
    width:auto;
    float:right;
}

a.main {
    background:url("/admin/engine/images/type_page/main.png") no-repeat left center;
    padding: 5px 30px;
}

a.news {
    background:url("/admin/engine/images/type_page/news.png") no-repeat left center;
    padding: 5px 30px;
}

a.article {
    background:url("/admin/engine/images/type_page/article.png") no-repeat left center;
    padding: 5px 30px;
}

a.normal {
    background:url("/admin/engine/images/type_page/normal_page.png") no-repeat left center;
    padding: 5px 30px;
}

a.video {
    background:url("/admin/engine/images/type_page/video.png") no-repeat left center;
    padding: 5px 30px;
}

a.faq {
    background:url("/admin/engine/images/type_page/help.png") no-repeat left center;
    padding: 5px 30px;
}

a.help {
    background:url("/admin/engine/images/type_page/help.png") no-repeat left center;
    padding: 5px 30px;
}

a.gallery {
    background:url("/admin/engine/images/type_page/gallery.png") no-repeat left center;
    padding: 5px 30px;
}

a.html {
    background:url("/admin/engine/images/type_page/html.png") no-repeat left center;
    padding: 5px 30px;
}

a.default {
    background:url("/admin/engine/images/type_page/default.png") no-repeat left center;
    padding: 5px 30px;
}

#show_template {
    displaye:none;
    margin:10px 0 0;
}

#login_admin {
    padding:20px;
    border:1px solid #fff;
    background:#f2f2f2;
    position:absolute;
    box-shadow:0px 1px 4px 0 #000000;  
}

#login_admin_window {
    overflow:hidden;
}

#login_admin form {
    margin:0 0 0;
}

#login_admin #login_admin_header {
    margin:0 0 20px;
    border-bottom:1px solid silver;
}

#login_admin #login_admin_header h1 {
    display:inline-block;
}

#login_admin form input[type="text"], #login_admin form input[type="password"] {
    padding:10px 27px;
    font-size:16px;
    color:#666666 !important;
    background:#f0eef0 url("/admin/engine/images/user.png") no-repeat 10px 14px;
    border:1px solid #dfdfdf;
    width:299px;
}

#login_admin #login_admin_content input[type="password"] {
     background:#f0eef0 url("/admin/engine/images/password.png") no-repeat 10px 12px !important;
}

#login_admin #login_admin_content input[type="submit"] {
    width:340px;
    margin:0 7px;
}

#defend_page {
    margin:10px 0 0;
    display:none;
}

#defend_page select {
    width:200px;
    height:120px;
}

.design-box {
    float:left;
    width:25%;
    margin-right:10px;
    padding:15px;
    text-align:center;
    background:#fff;
    border:3px solid #379AD3;
    border-radius:4px;
}

/* Элементы управления */



#content label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 20px;
    font-size: 90%;
}

#content input[type=radio] {
    display: none;
}

#content label:before {
    content: "";
    display: inline-block;

    width: 18px;
    height: 18px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom:1px;

    background-color: #aaa;
    background:#379AD3;

}

.radio label:before {
    border-radius: 8px;
}

#content input[type=radio]:checked + label:before {
    content: "\2022";
    color: #fff;
    font-size: 28px;
    text-align: center;
    vertical-align:middle;
    line-height: 16px;
}

#content input[type=checkbox] {
    display: none;
}

.checkbox label:before {
    border-radius: 3px;
}

#content input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 100%;
    color:#fff;
    text-align: center;
    line-height: 15px;
}

/* Рассылки */
 
#mailing-box {
    overflow:hidden;
}
 
#mailing-box ul {
    margin: 0;
    padding: 5px;
}
 
 
#groups-list {
    float:left;
    width:22%;
    border:1px solid silver;
}
 
#groups-list img {
    vertical-align:middle;
}
 
#groups-list header, #users-list header {
    background:#00AEEF;
    padding:5px;
}
 
#groups-list header h1, #users-list header h1 {
    margin:0;
    width:100%;
}
 
#gr ul li {
    list-style:none;
}
 
#gr ul li {
    margin-bottom:8px;
    padding-left:5px;
    overflow:hidden;
}
 
#gr ul li.hover {
    background:lightyellow;
}
 
#gr ul li > a:first-child {
    text-decoration:none;
    display:inline-block;
    background:url("/admin/engine/images/dir.png") no-repeat left center;
    padding:5px 22px;
    float:left;
}
 
#gr ul li > a.del_group {
    float:right;
    padding: 5px 5px;
}
 
#gr ul li.active {
    background:lightyellow;
}
 
#groups-list #gr {
    padding:8px;
}
 
#users-list {
    margin-left:24%;
    border:1px solid silver;
}
 
#users-list ul {
    margin:10px;
}
 
#users-list ul li {
    margin-bottom:8px;
    list-style:none;
}

#users-list ul li a {
    font-size:100% !important;
}
 
#mailing_user {
    float:left;
    width:25%;
    min-height:300px;
}
 
#mailing_user ul li {
    margin-bottom:10px;
    font-size:90%;
}

#system_message_error {
    position:fixed;
    top:0;
    width:50%;
    padding:30px 0px 30px 105px;
    background:rgba(216,239,103,0.7) url("/engine/images/system/icon/message/error.png") no-repeat 10px center;
    z-index:200;
    border:1px solid lightblue;
    border-top:0;
}

#ajax_icon {
    width:128px;
    height:128px;
    position:absolute;
    z-index: 9999;
}

.filter_search {
	padding:10px;
	border:2px solid #379AD3;
	margin-top:5px;
	display:inline-block;
}

.inline {
    padding-bottom:6px;
    border-bottom:4px solid #379ad3;
    display:block !important;
}

#setpermissions {

}

#setpermissions table {

}

table.noborder {
	border:0;
}

table.noborder td, table.noborder th {
	border:0 !important;

}

table.noborder td:first-child {
	text-align:left;
}

table.noborder td {
	text-align:center;
	vertical-align: bottom;
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea, select {
    background:#fff;
    padding:8px;
    color:#666666 !important;
    border:1px solid #d3d3d3;
    border-radius:3px;
    font-size:90%;
}

input[type="submit"], input[type="button"] {
    background:url("/admin/engine/images/button/button_blue.jpg") left top;
    padding:6px;
    color:#ffffff;
    font-size:70%;
    cursor:pointer;
    margin-bottom:5px;
    text-transform:UpperCase;
    border:1px solid #305a8c;
    border-radius:4px;
    box-shadow:0 2px 3px 0 #d0d0d0;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background:url("/admin/engine/images/button/button_blue.jpg") left -33px;
}

input[type="submit"]:active, input[type="button"]:active {
    background:url("/admin/engine/images/button/button_blue.jpg") left -68px;
    border-bottom:0;
    box-shadow:0 1px 1px 0 #7695ba;    
}

textarea {
    color:#000000;
}
